@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    margin: 0;

    font-family: "Ubuntu", sans-serif;
}

header {
    text-align: center;
}

.top-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0 35% 20px 35%;
}

.top-container input {
    text-align: center;

    padding: 5px 20px;

    margin-bottom: 15px;
}

.input-row {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.input-row input {
    flex-grow: 1; /* This makes the input fill up the remaining space */
    margin-bottom: 0; /* Remove the old margin since the row handles spacing now */
}

.input-row input:focus {
    outline: transparent;
}

#add-btn {
    padding: 8px 32px;
    background-color: transparent;
    border: 1px black solid;
    border-radius: 5px;
}

#add-btn:hover {
    cursor: pointer;
    color: #00A0C6;
}

#clear-btn {
    padding: 8px 32px;
    width: 325px;
    background-color: transparent;
    border: 1px black solid;
    border-radius: 5px;
}

#clear-btn:hover {
    cursor: pointer;
    color: #00A0C6;
}

.tasks-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.task {
    display: flex;
    justify-content: space-between;

    border: 1px solid black;
    border-radius: 5px;

    padding: 10px 20px;

    margin-bottom: 20px;

    width: 70%;
    
}

.task-icons {
    display: flex;
    gap: 15px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}

#done-icon:hover {
    cursor: pointer;
    color:#00A0C6; 
}

#delete-icon:hover {
    cursor: pointer;
    color:#00A0C6; 
}

.completed {
    text-decoration: line-through;
    color: gray; /* Makes it look even cleaner! */
}